In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import re
import os
import pandas as pd

In [2]:
cwd=os.getcwd()
df=pd.read_csv(cwd+"/BA_reviews.csv",index_col=0)

In [3]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | On the memorable day of Janu...,5.0,6th February 2024,Nigeria
1,Not Verified | I did not actually get to fly w...,8.0,5th February 2024,United Kingdom
2,✅ Trip Verified | We had possibly the worse ch...,1.0,2nd February 2024,United Kingdom
3,✅ Trip Verified | I flew to LHR from ATH in C...,6.0,30th January 2024,Japan
4,✅ Trip Verified | I like the British Airways ...,9.0,29th January 2024,United Kingdom

In [4]:
df['verified']=df.reviews.str.contains('Trip Verified')

In [5]:
from nltk.stem import WordNetLemmatizer
import nltk
from nltk.corpus import stopwords
lemma=WordNetLemmatizer()
reviews_data=df.reviews.str.strip("✅ Trip Verified |")
corpus=[]
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)
df['corpus']=corpus
df.head()
df.dtypes
df['date'] = pd.to_datetime(df['date'], format="%dth %B %Y", errors='coerce')
df=df.dropna()
df.stars.unique()
df.loc[:,'stars']=df['stars'].astype(int)
df.stars.value_counts()
df.isnull().value_counts()
df.shape
df.reset_index(drop=True)
df.to_csv(cwd+'/cleaned-BA-reviews.csv')